/* @theme base */
@import 'default';

/* section {
  background: #fa0;
} */

.center {
    text-align : center;
}

.right {
    text-align : right;
}

.top-subject{
  display: inline-block;
  position: absolute;
  top: 100px;
}